<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="tenantName" th:text="${tenant.description.name}">租户名</div>
<div id="error" th:text="${error}">error</div>
<form method="post" th:action="@{/rbac/sessions}" th:object="${loginForm}">
    <input type="hidden" id="inputTenantName" th:field="*{tenant}"/>
    <input type="hidden" id="inputFrom" th:field="*{from}"/>
    <input type="text" id="inputLoginName" maxlength="20" th:field="*{loginName}"/>
    <input type="password" id="inputPassword" maxlength="20" th:field="*{password}"/>
    <input type="submit" id="buttonSubmit">登录</input>
</form>
</body>
</html>