<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/public :: baseHead(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>租户域名</title>
</head>
<body>
<a th:href="'/rbac/admin/console/domain/new_domain?tenantId='+${tenant.id}" id="linkNewDomain">新增域名</a>
<table id="tableDomains">
    <thead>
    <tr>
        <th>域名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="domain: ${domains}">
        <td th:text="${domain.description.domain}">
            name
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>